* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 90px 0 0 80px;
}

.div-name-list {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100px;
    width: 500px;
    border-radius: 7px;
}

input {
    height: 40px;
    width: 300px;
    border: 1px solid #9e9c9c;
    border-radius: 5px;
    padding-left: 10px;
    color: #9e9c9c;
    font-size: 16px;
}

button {
    height: 40px;
    width: 70px;
    border-radius: 5px;
    border: none;
    background: #4facfe;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.div-list {
    max-width: 500px;
    max-height: 400px;
    word-break: break-word;
    display: none;
    overflow-y: scroll;
}

.task-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    padding: 20px;
    gap: 8px;
    background: #fff;
    border-radius: 7px;
}

li {
    border-bottom: 1px solid #9e9c9c;
    display: flex;
    align-items: center;
}

.remove-btn {
    height: 30px;
    width: 30px;
    border-radius: 0;
    margin-left: 20px;
    margin-bottom: 5px;
}

h1 {
    display: flex;
    color: #fff;
    font-size: 60px;
    margin-left: 650px;
    position: absolute;
    font-weight: 800;
}